<?xml version="1.0" encoding="utf-8" ?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:app="http://schemas.android.com/apk/res-auto"
      >
  <item
       android:id="@+id/menuHome"
       android:showAsAction="never"
       android:title="Accueil" />
  <item
     android:id="@+id/menuMove"
     android:showAsAction="never"
     android:title="Déplacement" />
  <item
     android:id="@+id/menuRecieving"
     android:showAsAction="never"
     android:title="Réception" />
  <item
   android:id="@+id/menuPicking"
   android:showAsAction="never"
   android:title="Cueillette" />
  <item
     android:id="@+id/menuProduction"
     android:showAsAction="never"
     android:title="Production" />
  <item
     android:id="@+id/menuWarehouse"
     android:showAsAction="never"
     android:title="Inter Entrepôt" />
</menu>